@media (min-width: 540px) and (max-width: 899px) {
    #main-container, footer .innermobi {
        padding: 0 40px;
    }

    .about .slider-ab .slider-inner {
        height: 250px;
    }

    .page-description {
        font-size: 13px;
    }

    .view-class.homepage .incorso-descr {
        font-size: 13px;
    }

    .event {
        .event-title {
            font-size: 13px;
        }

        .event-date {
            font-size: 13px;
        }
    }

    .timeline-container {
        .timeline-inner {
            .timeline-event {
                .content {
                    .timeline-title {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .bestslider .legend p {
        font-size: 13px;
    }

    .popup .popup-inner .col1 .register-open {
        font-size: 13px;
    }

    .popup .popup-inner h2 {
        font-size: 13px;
    }

    .popup .popup-inner p, .popup .popup-inner .divseparatore {
        font-size: 13px;
    }

    .popup .popup-inner .col2 label {
        font-size: 13px;
    }

    .popup.preferenze p {
        font-size: 13px;
    }

    .popup.preferenze .row {
        font-size: 13px;
    }

    .popup.preferenze .salva-preferenze {
        font-size: 13px;
    }

    .popup.mieieventi .popup-inner.open h2, .popup.mieieventi .popup-inner.open a {
        font-size: 13px;
    }

    .popup.relatore .popup-inner h2 {
        font-size: 13px;
    }

    .popup.relatore .popup-inner p {
        font-size: 13px;
    }

    .about .bigimg-title {
        font-size: 13px;
    }

    .artisti .artists-grid .artista .nomination>span {
        font-size: 14px;
    }

    .visita-descr {
        font-size: 13px;
    }

    .view-class.contatto .indirizzodati .subcol-2, .view-class.contatto .indirizzodati .subcol-1 {
        font-size: 13px;
    }

    .consultazione .col1, .consultazione .col2, .consultazione .col3 {
        width: 33% !important;
    }

    .bigimg-evt .parallaxer, .event .parallaxer {
        height: auto;
        width: 100%;
    }

    .about .panel .description h3 {
        margin-top: 15px;
    }

    .about .panel .description p {
        margin-bottom: 10px;
    }

    .about .author-description .description h3 {
        margin-top: 11px;
    }

    .view-class.evento .eventdata-container .col-esposizione, .view-class.evento .eventdata-container .col-inaugurazione, .view-class.evento .eventdata-container .col-conversazione, .view-class.evento .eventdata-container .inaugurazione-data, .view-class.evento .eventdata-container .esposizione-data, .view-class.evento .eventdata-container .conversazione-data {
        width: 33%;
    }

    .eventdata-container {
        margin-bottom: 20px;

        .mobile-only {
            display: none !important;
        }

        .nomobile {
            display: block !important;
        }
    }

    .popup.login .popup-inner {
        height: 625px !important;
    }

    .artista .paragraph .img-container {
        height: 330px;
    }

    .artisti .artists-grid .artista {
        height: 221px;
    }

    .artisti .artists-grid .artista .img-container {
        height: 185px;
    }
}

