/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$soniabezier : cubic-bezier(0.23,1,0.32,1);
//$soniabezier : ease-in-out;

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Bold.woff) format(woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Light.woff) format(woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Italic.woff) format(woff);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "LatoBlack";
    src: url(../fonts/Lato-Black.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BookAntiqua";
    src: url(../fonts/BookAntiquaBold.woff) format(woff);
    font-weight: bold;
    font-style: normal;
}

* {
    @include box-sizing(border-box);
    @include backface-visibility(hidden);
}

a {
    text-decoration: none;
}

body, html {
    font-family: "Lato";
    height: 110%;

    &.noscroll {
        overflow: hidden;
    }
}

.clearfix {
    clear: both;
}

#app-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    &.padded-top {
        padding-top: 8px;
        @include transition(all 0.4s $soniabezier);
    }
}

#main-container {
    width: 1000px;
    margin: 60px auto;
}

header {
    width: 100%;
    height: 56px;
    margin-bottom: 121px;

    .col-sx {
        width: 158px;
        height: 100%;
        float: left;
        border-right: 1px solid #cecece;

        .logo {
            height: 100%;
            width: 114px;
        }
    }

    .col-center {
        width: 742px;
        height: 100%;
        float: left;
        padding-left: 37px;
        display: table;

        .main-menu {
            width: 100%;
            display: table-cell;
            vertical-align: bottom;
            
            a {
                font-family: "LatoBlack";
                font-size: 13px;
                display: inline-block;
                vertical-align: bottom;
                margin: 0 12px;
                color: #c1c1c1;

                &.active {
                    color: #4b4b4b;
                }
            }
        }
    }

    .col-dx {
        width: 100px;
        height: 100%;
        display: table;
        float: left;
        text-align: right;

        .accedi {
            color: #c4c4c4;
            font-size: 14px;
            display: table-cell;
            vertical-align: bottom;
            cursor: pointer;
        }
    }
}

.consultazione {
    width: 100%;
    margin-top: 92px;

    h1 {
        font-family: "BookAntiqua";
        font-weight: bold;
        font-size: 23px;
        color: #151515;
        margin-bottom: 60px;
    }

    a {
        text-decoration: underline;
        font-size: 14px;
        color: #434343;
    }

    .row {
        margin-bottom: 25px;
        width: 100%;
        float: left;
    }

    .col1 {
        width: 226px;
        height: 100%;
        float: left;
    }

    .col2 {
        width: 184px;
        float: left;
        height: 100%;
    }

    .col3 {
        width: 200px;
        float: left;
        height: 100%;
    }

    .langs {
        font-size: "BookAntiqua";
        font-weight: bold;
        font-size: 17px;
        color: #151515;
        margin-top: 57px;
        float: left;
        margin-bottom: 75px;

        .lingua {
            color: #c7c7c7;
            margin-left: 15px;
            display: inline-block;
            cursor: pointer;

            &.active {
                color: #151515;
                text-decoration: underline;
            }
        }
    }
}

footer {
    width: 100%;
    background-color: #f8f8f8;

    .inner {
        width: 1000px;
        margin: 0 auto;
        height: 246px;
        padding: 82px 0;

        .col1 {
            width: 226px;
            float: left;
            height: 100%;

            img {
                width: 116px;
            }
        }

        .col2 {
            width: 650px;
            height: 100%;
            float: left;
            font-size: 13px;
            line-height: 180%;
            color: #434343;

            a {
                text-decoration: underline;
                color: #434343;
            }

            .subcol-1 {
                width: 184px;
                height: 100%;
                float: left;
            }

            .subcol-2 {
                width: 215px;
                height: 100%;
                float: left;
            }

            .subcol-3 {
                width: 251px;
                height: 100%;
                float: left;
            }
        }

        .col3 {
            width: 124px;
            float: left;
            text-align: right;

            img {
                width: 44px;
            }
        }
    }
}

#page-container {
    width: 100%;
}

#app-container, #page-container, footer, .consultazione, #splashscreen {
    @include opacity(1);
    @include transition(all 800ms cubic-bezier(.19,1,.22,1) 0ms);

    &.hidden {
        @include opacity(0);
    }
}

#splashscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #ccc;
    cursor: pointer;

    .logo-container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 406px;
        height: 216px;
        @include transform(translate(-50%, -50%));
        background-color: #fff;
        cursor: default;
        z-index: 5;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            width: 210px;
        }

        .cookies {
            position: absolute;
            width: 100%;
            top: 216px;
            text-align: center;
            line-height: 120%;
            color: #3d3d3d;
            font-size: 13px;
            padding: 0px 40px;
            background-color: rgba(255,255,255,0.75);
            max-height: 0;
            overflow: hidden;
            @include transition(all 0.5s $soniabezier);

            &.open {
                max-height: 400px;
                padding: 26px 40px;
            }

            a {
                color: #3d3d3d;
            }

            .acceptcookie {
                cursor: pointer;
            }
        }
    }

    .cursor-pointer {
        height: 34px;
        line-height: 34px;
        background-color: #fff;
        position: absolute;
        top: 0px;
        left: 0px;
        font-weight: bold;
        text-align: center;
        padding: 0 18px;
        font-size: 16px;
        z-index: 10;
        font-family: "BookAntiqua";
        @include transition(opacity 500ms cubic-bezier(0.19,1,0.22,1) 0ms);
        @include opacity(0);
        pointer-events: none;

        &.hidden {
            @include opacity(0);
        }
    }
}


.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    .element {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow: hidden;
        @include transform(translate3d(100%,0,0));

        &.on {
            z-index: 4;
            @include transform(translate3d(0,0,0));
            @include transition(all 2000ms $soniabezier 0ms);

            .scaled {
                @include transform(scale3d(1.2,1.2,1.2));
                @include transition(all 2000ms $soniabezier 0ms);
            }

            .mask {
                @include transform(translate3d(0,0,0));
                @include transition(all 2000ms $soniabezier 0ms);
            }
        }

        &.off {
            z-index: 2 !important;
            .scaled {
                @include transition(all 2000ms $soniabezier 100ms);
                @include transform(scale3d(1,1,1));
            }
        }

        .scaled {
            overflow: hidden;
            background-size: cover;
            width: 100%;
            height: 100%;
            @include transform(scale3d(1.4,1.4,1.4));
        }

        .mask {
            overflow: hidden;
            width: 100%;
            height: 100%;
            @include transform(translate3d(-100%,0,0));
        }
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    @include transform(translate(0,-8px));
    @include transition(all 0.4s $soniabezier);

    .load-inner {
        width: 100%;
        height: 100%;
        background-color: #4b4b4b;
        @include transform(translate(-100%,0));
        @include transition(all 1.3s $soniabezier);
    }

    &.open {
        @include transform(translate(0,0));

        .load-inner {
            @include transform(translate(0,0));
            background-color: #d3bb86;
        }
    }

    &.off {
        @include transform(translate(0,-8px));

        .load-inner {
            background-color: #d3bb86 !important;
            @include transform(translate(0,0) !important);
            @include transition(all 1.3s $soniabezier 0.4s !important);
        }
    }
}


