<script type="text/x-handlebars-template" id="about">
    <h1 class="page-title">{{trad.about}} <span class="gold">ART FOUND TRUST</span></h1>
    <h2 class="page-description">{{trad.aboutDescr}}</h2>

    <div class="bigimg-evt">
        <img class="parallaxer" src="/upload/eventi/evento2.jpg" />
    </div>

    <div class="bigimg-title">{{trad.sedeartfound}}</div>

    <div class="panel">
        <div class="description">
            <h3>{{trad.aboutpaneltitle}}</h3>
            {{{trad.aboutpaneldescr}}}
            
        </div>
        <img src="/img/about2.jpg" />
    </div>

    <div class="slider-ab">
        <div class="slider-inner">
            <div class="element on" data-rel="1">
                <div class="mask">
                    <div class="scaled" style="background-image:url('/img/about3.jpg');"></div>
                </div>
            </div>

            <div class="element" data-rel="2">
                <div class="mask">
                    <div class="scaled" style="background-image:url('/img/about3.jpg');"></div>
                </div>
            </div>

            <div class="element" data-rel="3">
                <div class="mask">
                    <div class="scaled" style="background-image:url('/img/about3.jpg');"></div>
                </div>
            </div>

            <div class="element" data-rel="4">
                <div class="mask">
                    <div class="scaled" style="background-image:url('/img/about3.jpg');"></div>
                </div>
            </div>

            <div class="element" data-rel="5">
                <div class="mask">
                    <div class="scaled" style="background-image:url('/img/about3.jpg');"></div>
                </div>
            </div>
        </div>

        <div class="slider-controls">
            <div class="squares-container">
                <div class="square active" data-rel="1">
                    <div class="tooltip">
                        <div class="miniimg" style="background-image: url(/img/about3.jpg)"></div>
                        <div class="triangle"></div>
                    </div>
                </div>
                <div class="square" data-rel="2">
                    <div class="tooltip">
                        <div class="miniimg" style="background-image: url(/img/about3.jpg)"></div>
                        <div class="triangle"></div>
                    </div>
                </div>
                <div class="square" data-rel="3">
                    <div class="tooltip">
                        <div class="miniimg" style="background-image: url(/img/about3.jpg)"></div>
                        <div class="triangle"></div>
                    </div>
                </div>
                <div class="square" data-rel="4">
                    <div class="tooltip">
                        <div class="miniimg" style="background-image: url(/img/about3.jpg)"></div>
                        <div class="triangle"></div>
                    </div>
                </div>
                <div class="square" data-rel="5">
                    <div class="tooltip">
                        <div class="miniimg" style="background-image: url(/img/about3.jpg)"></div>
                        <div class="triangle"></div>
                    </div>
                </div>
            </div>

            <div class="arrow goleft"></div>
            <div class="arrow right goright"></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="long-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <div class="author-description">
        <div class="photo">
            <div class="profile" style="background-image: url(/img/about1.jpg);"></div>
            <div class="dr-title"><span>{{{trad.aboutdrtitle}}}</span></div>
        </div>

        <div class="description">
            <h3>{{trad.aboutauthortitle}}</h3>
            <p>{{trad.aboutauthordescr}}</p>
            <a data-bypass href="mailto:mr@artfoundtrust.com">mr@artfoundtrust.com</a>
        </div>
    </div>

    <hr class="separator only-mobile margined-top" />
</script>

