<script type="text/x-handlebars-template" id="artisti">
    <h1 class="page-title">{{trad.artistititle}}<br /><span class="gold">ART FOUND TRUST</span></h1>
    <h2 class="page-description">{{trad.artistiDescr}}</h2>

    <div class="select-artists">
        <span class="select active" data-letter="ALL">{{trad.all}}</span> - 
        {{#letters}}
            <span class="select" data-letter="{{this}}">{{this}}</span> {{#unless @last}} - {{/unless}}
        {{/letters}}
    </div>

    <div class="artists-grid">
        {{#artists}}
        <a href="/artista/{{permalink}}" class="artista visible okmargin" data-letter="{{letter}}">
            <div class="img-container">
                <div class="img" style="background-image: url({{img}})"></div>
            </div>

            <div class="nomination"><span>{{name}}</span></div>
        </a>
        {{/artists}}
    
    </div>

    <div class="clearfix"></div>

    <hr class="separator mobile-only margined-top" />
    <hr class="separator nomobile" />

    <div class="timeline-container"></div>
</script>

