<script type="text/x-handlebars-template" id="evento">
    <iframe id="download"></iframe>

    <div class="eventtype-container">
        {{eventType type trad.eventCurrent trad.eventFiuciur}}
    </div>

    <h1>{{trad.evento}}</h1>

    <h2 class="title">{{name}}</h2>
    <p class="description">{{description}}</p>
    <div class="acura">{{trad.acura}} {{curatore}}</div>

    <img class="event-bigimg" src="{{img}}" />

    <div class="eventdata-container">
        <div class="col-esposizione">
            <div class="littletitle">{{trad.esposizione}}</div>
            <p>{{{esposizione}}}</p>
        </div>

        <div class="col-inaugurazione">
            <div class="littletitle">{{trad.inaugurazione}}</div>
            <p>{{{inaugurazione}}}</p>
            <legend>
                <span class="legtitle">{{trad.presenzaartista}}</span>
                {{#artisti}}
                    <a class="artista" href="{{permalink}}">{{name}}</a>
                {{/artisti}}
            </legend>
        </div>

        <div class="col-conversazione">
            <div class="littletitle">{{trad.conversazione}}</div>
            <p>{{{conversazione}}}</p>
        </div>

        <div class="notifiche open-checkboxes"></div>

        <div class="clearfix"></div>
    </div>

    <div class="esposizione-data">
        <a class="rsvp" href="/contatto/{{id}}">R.S.V.P.</a>
    </div>

    <div class="inaugurazione-data">
        <div class="open-checkboxes">{{trad.iscrizioneRichiesta}}</div>
    </div>

    <div class="conversazione-data">
        <div class="open-checkboxes">{{trad.iscrizioneRichiesta}}</div>
    </div>

    <div class="clearfix"></div>

    <div class="littletitle">{{trad.opereesposte}}</div>

    <div class="bestslider-container"></div>

    <div class="documentazione-container">
        <div class="littletitle">{{trad.documentazione}}</div>
        {{#documentazione}}
            <a href="{{file}}" target="_BLANK" class="click-documentazione" data-bypass>{{name}}</a>
        {{/documentazione}}

        <div class="clearfix"></div>
    </div>

    <div class="relatori-container">
        <div class="littletitle">{{trad.relatori}}</div>
        {{#relatori}}
            <div class="click-relatore" data-id="{{id}}">{{name}}</div><span> | </span>
        {{/relatori}}
    </div>

    <div class="condivisione-container">
        <div class="littletitle">{{trad.condivisione}}</div>
        <img class="social-icon" src="/img/Social_Icons-02.svg" />
        <img class="social-icon" src="/img/Social_Icons-03.svg" />
        <img class="social-icon" src="/img/Social_Icons-04.svg" />
        <img class="social-icon" src="/img/Social_Icons-05.svg" />
        <img class="social-icon" src="/img/Social_Icons-06.svg" />
        <img class="social-icon" src="/img/Social_Icons-07.svg" />
        <img class="social-icon" src="/img/Social_Icons-08.svg" />
    </div>


    <hr class="separator" />
    <div class="timeline-container"></div>
</script>

