<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Artfound</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link rel="stylesheet" href="/css/screen.css">
    </head>
    <body>
        <div id="loader">
            <div class="load-inner"></div>
        </div>

        <div id="app-container"></div>

        <!-- Templates -->
        <include src="./layout.html"></include>
        <include src="./homepage.html"></include>
        <include src="./events.html"></include>
        <include src="./splash.html"></include>
        <include src="./artisti.html"></include>
        <include src="./about.html"></include>
        <include src="./artista.html"></include>
        <include src="./evento.html"></include>
        <include src="./pubblicazioni.html"></include>
        <include src="./contatto.html"></include>
        <include src="./opere.html"></include>
        <include src="./ricerca.html"></include>

        <include src="./bestslider.html"></include>
        <include src="./timeline.html"></include>

        <include src="./popuplogin.html"></include>
        <include src="./popuprelatore.html"></include>
        <include src="./popupmieieventi.html"></include>
        <include src="./popuppreferenze.html"></include>
        <include src="./popupricerca.html"></include>


        <!-- Template pubblicazioni -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUGPHAQK7ug54KYf3uv9LY5GgA3zZeZxU"></script>
        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel_packed.js"></script>
        <script src="/js/lib.js"></script>
        <script src="/js/mocks.js"></script>
        <script src="/js/helpers.js"></script>
        <script src="/js/translator.js"></script>
        <script src="/js/cookies.js"></script>
        <script src="/js/router.js"></script>
        <script src="/js/models/user.js"></script>
        <script src="/js/models/opere.js"></script>
        <script src="/js/models/homepage.js"></script>
        <script src="/js/models/events.js"></script>
        <script src="/js/models/evento.js"></script>
        <script src="/js/models/artists.js"></script>
        <script src="/js/models/artista.js"></script>
        <script src="/js/models/pubblicazioni.js"></script>
        <script src="/js/models/ricerca.js"></script>
        <script src="/js/views/layout.js"></script>
        <script src="/js/views/timeline.js"></script>
        <script src="/js/views/login.js"></script>
        <script src="/js/views/preferenze.js"></script>
        <script src="/js/views/relatore.js"></script>
        <script src="/js/views/mieieventi.js"></script>
        <script src="/js/views/ricercapopup.js"></script>
        <script src="/js/views/bestslider.js"></script>
        <script src="/js/views/index.js"></script>
        <script src="/js/views/about.js"></script>
        <script src="/js/views/artisti.js"></script>
        <script src="/js/views/artista.js"></script>
        <script src="/js/views/opere.js"></script>
        <script src="/js/views/events.js"></script>
        <script src="/js/views/pubblicazioni.js"></script>
        <script src="/js/views/ricerca.js"></script>
        <script src="/js/views/contatto.js"></script>
        <script src="/js/views/evento.js"></script>
        <script src="/js/views/splash.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
