<script type="text/x-handlebars-template" id="popup-preferenze">
    <div class="popup-inner">
        <div class="popup-close"></div>
        <div class="inner">
            <h2>{{trad.latuascelta}}</h2> 
            <p>{{{nomeevento}}}</p>

            <div class="row">
                <div class="labelpref" data-id="partecipazione"></div>
                {{{trad.confermopartecipazione}}}
            </div>

            <div class="row">
                <div class="labelpref" data-id="conversazioni"></div>
                {{{trad.confermoconversazioni}}}
            </div>

            <div class="row">
                <div class="labelpref" data-id="notifiche"></div>
                {{{trad.riceverenotifiche}}}
            </div>

            <div class="row">
                <div class="labelpref" data-id="preferiti"></div>
                {{{trad.salvaevento}}}
            </div>

            <div class="salva-preferenze">{{trad.salvapreferenze}}</div>
        </div>
    </div>
</script>


