<script type="text/x-handlebars-template" id="splash">
    <div class="cursor-pointer">{{trad.clicktoenter}}</div>

    <div class="slider">
        <div class="element">
            <div class="mask">
                <div class="scaled" style="background-image:url('/img/splash1.jpg');"></div>
            </div>
        </div>
        <div class="element">
            <div class="mask">
                <div class="scaled" style="background-image:url('/img/splash2.jpg');"></div>
            </div>
        </div>
        <div class="element">
            <div class="mask">
                <div class="scaled" style="background-image:url('/img/splash3.jpg');"></div>
            </div>
        </div>
        <div class="element">
            <div class="mask">
                <div class="scaled" style="background-image:url('/img/splash4.jpg');"></div>
            </div>
        </div>
    </div>

    <div class="logo-container">
        <img src="/img/logo.svg" />
        <div class="cookies">{{{trad.cookiepolicy}}}</div>
    </div>

    <div class="first-background"></div>
</script>
